@font-face {
    font-family: 'apercu';
    src: url("./jam-site/ApercuMedium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'apercu-mono';
    src: url("./jam-site/ApercuMono.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
