html, body {
    background-color: #FFF9F1;
    color: #D13644;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 20px;
    border-radius: 10px;
}

#logo {
    margin-bottom: 2em;
    height: 86px;
}

svg {
    fill: currentColor;
}


/* Flex stuff */
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    margin: 4% 0;
    position: absolute;
    bottom: 0;
  }
  
    .wrapper > * {
        flex: 1 100%;
        margin: 0 4vw;
    }

    .footer{
        display: none;
    }
   
    .main {
        text-align: left;
    }
   
    .aside-1 {
        text-align: left;
        align-content: left;
    }

    .aside-2 {
        text-align: right;
        align-content: right;
    }

    
/* Flex resize */
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}


/* System theming */
@media (prefers-color-scheme: light) {
    html {
        background-color: #FFF9F1;
    }
    body {
        color: #D13644;
    }
}
@media (prefers-color-scheme: dark) {
    html { 
        background-color: #D13644;
    }
    body {
       color: #FFF9F1;
    }
}
