.tooltip{
	position: relative;
	display: inline-block;
}
.tooltip span {
	display: none;
	position: absolute;
	bottom: calc(100% - 1.1rem);
  	left: 50%;
  	transform: translateX(-50%);
	box-shadow: 0px 0px 25px rgba(226, 226, 226, 0.6);
	padding: 8px 8px 20px 8px;
	border-radius: 18px;
	opacity: 0;
	background-color: #fff;
	rotate: 0deg;
	transition: all 2s;
}
.tooltip:hover span {
	display: block;
   	opacity: .96;
	rotate: 2deg;
}

span video {
	width: 420px;
	border-radius: 12px;
	margin-bottom: 8px;
}

span img {
	width: 420px;
	height: 100%;
    	object-fit: cover;
}
