h1,h2,h3, body{
    font-family: 'apercu';
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
}

.text-meta{
    font-family: 'apercu-mono';
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 12.5px;
    text-transform: uppercase;
    line-height: 130%;
}

p{
    display: block;
    margin-block-start: .75em;
    margin-block-end: .75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    font-family: 'apercu-mono';
    
    text-transform: uppercase;
    color: currentColor;
    text-decoration-style: dotted;
    text-decoration-thickness: .2px;
    text-underline-offset: 3px;
    text-decoration-color: currentColor;
}

a:hover {
    text-decoration-style: solid;
    cursor: ne-resize;
    text-decoration-color: currentColor;
}

li{
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
